@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 999;
  backdrop-filter: blur(5px);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: #0c0c0cb1;
  padding: 30px;
  z-index: 1000;
  color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(36, 36, 36, 0.715);
  font-family: "Poppins", sans-serif;
  opacity: 0;
  animation: slide-up 0.5s ease forwards;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  border-radius: 15px;
  z-index: -1;
}

.modal-content {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 14px;
}


.modal-open {
  overflow: hidden;
}

.blur-background {
  filter: blur(5px);
}

@keyframes slide-up {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

body.modal-open {
  overflow: hidden;
}