.mn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* Mengurangi tinggi untuk ruang yang lebih kecil */
  padding: 0 10px; /* Mengurangi padding untuk ruang yang lebih kecil */
  overflow-x: auto; /* Pastikan kontainer dapat digulir secara horizontal jika perlu */
  scrollbar-width: none; /* Sembunyikan scrollbar di Firefox */
}

.mn-container::-webkit-scrollbar {
  display: none; /* Sembunyikan scrollbar di browser Webkit */
}

.mn-nav {
  background-color: transparent;
  padding: 5px; /* Mengurangi padding untuk ruang yang lebih kecil */
  border-radius: 8px; /* Mengurangi sudut lengkungan untuk ruang yang lebih kecil */
  margin: 0 20px; /* Mengurangi margin untuk ruang yang lebih kecil */
  font-family: 'Poppins', sans-serif;
  border: 1px solid black;
}

.mn-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap; /* Mencegah item dari pembungkusan */
  overflow-x: auto; /* Aktifkan guliran horizontal jika perlu */
}

.mn-li {
  margin: 0 5px; /* Margin yang sama di kiri dan kanan */
  padding: 0;
  display: flex;
  align-items: center; /* Pastikan item terpusat secara vertikal */
  justify-content: center; /* Tengahkan konten secara horizontal */
  min-width: 80px; /* Atur lebar minimum untuk memastikan keseragaman */
}

.mn-a {
  text-decoration: none;
  color: #333;
  font-size: 14px; /* Sesuaikan ukuran font untuk layar yang lebih kecil */
  transition: color 0.3s;
  font-family: 'Poppins', sans-serif;
  padding: 8px 12px; /* Padding konsisten untuk semua tautan */
  text-align: center; /* Tengahkan teks di dalam tautan */
  white-space: nowrap; /* Cegah teks dari pembungkusan */
  display: block; /* Pastikan tautan adalah elemen tingkat blok agar padding berlaku dengan benar */
}

.mn-a:hover {
  color: #555;
}

/* Tandai item yang aktif */
.mn-a.active {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

/* Media query untuk responsif */
@media (max-width: 768px) {
  .mn-container {
    padding: 5px; /* Mengurangi padding untuk layar yang lebih kecil */
    overflow-x: auto; /* Pastikan kontainer dapat digulir secara horizontal jika perlu */
  }

  .mn-nav {
    margin: 0 3px; /* Mengurangi margin untuk layar yang lebih kecil */
  }

  .mn-ul {
    flex-wrap: nowrap; /* Pastikan item tidak dibungkus */
  }

  .mn-li {
    margin: 0 3px; /* Mengurangi margin untuk layar yang lebih kecil */
    min-width: auto; /* Hapus lebar minimum untuk layar yang lebih kecil */
  }

  .mn-a {
    font-size: 12px; /* Sesuaikan ukuran font untuk layar yang lebih kecil */
    padding: 6px 8px; /* Sesuaikan padding untuk layar yang lebih kecil */
  }
}
