@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.wisata-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 30px;
  border-radius: 18px;
  box-shadow: 2px 2px 5px #543310;
  border: 2px solid #543310;
  background-color: #efece1;
}

.map-container {
  margin-top: 20px;
  text-align: center;
}

.map-container img {
  max-width: 100%;
  height: auto;
}

.wisata-container {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(30%);
  padding: 40px 60px;
  margin: 0;
  background-size: cover;
  background-position: center;
  color: #F8F4E1;
  text-shadow: 3px 3px 4px #543310;
  font-size: clamp(8vh, 10vh, 1rem);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


@media (max-width: 768px) {
  .wisata-container {
    padding: 6vw 8vw;
  }
}

@media (max-width: 480px) {
  .wisata-container {
    padding: 6vw 8vw;
  }
}

.wisata-foto {
  width: 250px;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 5px 5px 15px #000;
}

.wisata-info {
  margin: 20px;
  width: 75%;
}

.wisata-info h2 {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  font-weight: 700;
  color: #333;
  align-self: flex-start;
}

.wisata-info p {
  font-family: 'Poppins', sans-serif;
  color: #555;
}

@media (max-width: 768px) {
  .wisata-foto {
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .wisata-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .wisata-foto {
    margin-right: 20px;
  }
}
