.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #f0f0f0;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-us {
    font-family: 'Poppins';
    text-align: center;
    font-weight: bolder;
    font-size: 58px;
    color: #333;
    margin-bottom: 0px;
  }
  
  .intro {
    text-align: center;
    max-width: 800px;
    line-height: 1.6;
    font-size: 25px;
    font-family: "poppins", arial;
  }
  
  .cards-container {
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 50px;
  }
  
  .cards-container.show {
    opacity: 1;
  }
  
  /* Media query untuk layar yang lebih kecil */
  @media screen and (max-width: 768px) {
    .intro {
      font-size: 16px; /* Mengurangi ukuran font intro untuk layar yang lebih kecil */
    }
  
    .card {
      max-width: 250px; /* Mengurangi lebar maksimum kartu untuk layar yang lebih kecil */
    }
  }
  