@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');


body {
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #0c0c0c;
  background-color: #AF8F6F;
}

.home-judul {
  position: relative;
  z-index: 2;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, rgb(0, 0, 0,1) 95%, rgba(0, 0, 0, 0) 100%);
}

.home-judul iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300vh;
  height: 130vh;
  margin-top: 70px;
  padding-bottom: 250px;
  pointer-events: none;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  filter: grayscale(100%);
  opacity: 0.4;
}

.home-judul iframe::-webkit-media-controls-start-playback-button,
.home-judul iframe::-webkit-media-controls-panel,
.home-judul iframe::-webkit-media-controls-current-time-display,
.home-judul iframe::-webkit-media-controls-time-remaining-display,
.home-judul iframe::-webkit-media-controls-mute-button,
.home-judul iframe::-webkit-media-controls-toggle-closed-captions-button {
  display: none !important;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-judul h1 {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  background: linear-gradient(to bottom, #F8F4E1, #F8F4E1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -80px;
  font-size: clamp(2.5em, 10vw, 6.5em); 
  z-index: 1;
  position: relative;
  text-shadow:
    1px 1px 0 #F8F4E1,
    2px 2px 0 #F8F4E1,
    3px 3px 0 #f9ecaa,
    4px 4px 0 rgba(0, 0, 0, 0.984),
    4px 4px 8px rgba(0, 0, 0, 0.56);
  animation: fadeInSlideUp 3s ease-out;
  filter: drop-shadow(0px 0px 5px #AF8F6F); 
  -webkit-text-stroke: 0.7px black; 
  text-stroke: 0.7px black; 
  padding: 0 40px;
}

.home-judul p {
  font-family: 'Cinzel Decorative', serif;
  font-weight: lighter;
  background: linear-gradient(to bottom, #F8F4E1, #AF8F6F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -5px;
  font-size: clamp(0.7em, 2.3vw, 25px);
  z-index: 1;
  text-shadow: 2px 2px 4px #1a151574;
  animation: slideUp 1s ease-out 0.5s;
  animation: fadeInSlideUp 3s ease-out;
  -webkit-text-stroke: 0.4px black; 
  text-stroke: 0.2px black; 
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px auto 100px;
  border: 3px solid #0a0a0a;
  box-shadow: 2px 2px 6px #543310, -2px -2px 6px #543310;
  border-radius: 19px;
  padding: 20px 20px;
  background-color: #F8F4E1;
  
}

.home-video-container {
  position: relative;
  overflow: hidden;
  width: 75%;
  max-width: 44%;
  border-radius: 20px;
  padding-top: 20%;
  border: 2px solid #0b0b0b;
  box-shadow: 1px 1px 3px #543310, -1px -1px 3px #543310;
}

.home-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px;
  border-radius: 19x;
}

.home-description-container {
  padding: 20px;
  border-radius: 8px;
  color: #543310;
  text-shadow: 1px 1px 10px #ffffff7a;
  flex: 1;
  font-family: "poppins", serif;
  margin-left: 20px;
}

.home-description-container.below-video {
  margin-top: 20px;
}

.home-gambar-grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.home-gambar-grid img {
  width: calc(33.33% - 5px);
  height: auto;
  border-radius: 8px;
  margin: 20px auto;
}

.home-sliklik {
  margin-bottom: 40px;
}

.home-videojateng {
  padding: 30px 40px 10px;
}

.home-video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-video-item {
  margin-bottom: 20px;
  width: calc(33.33% - 10px);
}

.home-video-item iframe {
  width: 100%;
  height: auto;
  border: none;
  aspect-ratio: 16/9;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.77);
  border: 1px solid rgba(77, 77, 77, 0.588);
}

.home-videojateng h2 {
  color: #F8F4E1;
  text-shadow: 3px 3px 4px #543310;
  text-align: center;
  margin-bottom: 30px;
  font-family: "poppins", serif;
}

.home-video-item:nth-child(2n + 1) {
  clear: both;
}

@media screen and (max-width: 768px) {
  .home-judul h1 {
    font-size: 4.7em;
    padding: 1px 50px;
  }

  .home-judul p{
    font-size: 15pt;
  }

  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .home-video-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 90%;
    padding-top: 56.25%; 
  }

  .home-video-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-video-item {
    margin-bottom: 20px;
    width: 90%;
    align-items: center;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

select,
button {
  font-size: 15px;
  margin: 5px;
  padding: 10px;
  margin-right: 10px;
  max-width: 100%; 
  box-sizing: border-box;
  border-radius: 20px;
}

button {
  background-color: #e78712;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background-color: #e3e5e7;
  color: #543310;
  
}

.video-container {
  margin-top: 20px;
}

iframe {
  width: 100%;
  height: auto;
  border: none;
  aspect-ratio: 16/9;
  border-radius: 10px;
  border: 1px solid rgba(77, 77, 77, 0.588);
}

@media (max-width: 600px) {
  select,
  button {
    font-size: 14px;
    padding: 8px;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%; 
  }

  .container {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .home-judul h1 {
    font-size: 3em; 
  }

  .home-judul p{
    font-size: 12pt;
  }
}