body {
  font-family: "poppins", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  background-color: #f2f2f2;
  font-size: 1rem;
}

.navbar {
  font-family: "Cinzel Decorative", serif;
  background-color: #000000;
  box-shadow: 1px 0px 3px black;
  color: #fff;
  padding: 0.75rem 1rem;
  z-index: 999;
  position: fixed;
  width: 100vw;
  top: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logojateng {
  width: auto;
  height: 3rem; /* Sesuaikan dengan rem */
  padding-top: 0.625rem;
  margin-left: -1.25rem;
  z-index: 4;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem; /* Gunakan rem untuk max-width */
  margin: 0 auto;
  padding: 0 1.875rem 0 1.125rem; /* Gunakan rem untuk padding */
}

.navbar-logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  z-index: 1;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  z-index: 3;
}

.navbar-item {
  margin-right: 1.25rem;
  margin-top: 0.125rem;
  position: relative;
}

.navbar-link {
  color: #fffffffe;
  text-decoration: none;
  margin-right: 0.625rem;
  padding: 0.625rem 0.9375rem;
  transition: all 0.3s ease; /* Mengaplikasikan efek transisi ke semua properti */
  position: relative;
}

.navbar-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px; /* Ketebalan garis bawah */
  background-color: #ef4b3c;
  transition: width 0.3s ease; /* Efek transisi hanya pada lebar */
  transform: translateX(-50%); /* Pusatkan pada horizontal */
}

.navbar-link:hover::before {
  width: 100%; /* Perbesar lebar saat dihover */
}

.navbar-link:hover {
  transform: scale(0.95); /* Sedikit menyusut saat dihover */
  color: yellow;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Efek shadow saat dihover */
}

.navbar-link.active {
  color: yellow; /* Warna kuning untuk link halaman aktif */
}

.content {
  max-width: 50rem;
  margin: 6.25rem auto 3.125rem;
  text-align: center;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.menu-icon-line {
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: #f2f2f2d8;
  margin: 0.25rem 0;
  transition: all 0.3s ease;
  border-radius: 0.125rem;
}

.menu-icon:hover .menu-icon-line {
  background-color: #c49b06;
  transform: scale(1.1);
}

.line {
  color: #f2f2f2;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1000px) { 
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.28125rem;
    left: 0;
    width: 100%;
    background-color: #1c1c1c;
    z-index: 999;
    animation: slideFromTop ease 0.5s forwards;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-item {
    margin: 0;
    text-align: center;
    padding: 0.3125rem 1.25rem 0.625rem;
  }

  .navbar-link {
    padding: 0.625rem 0.9375rem;
    display: block;
    margin-right: 5rem;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, width 0.3s ease, border-radius 0.3s ease, transform 0.3s ease, color 0.3s ease;
  }
  
  .navbar-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: #ef4b3c;
    transition: width 0.3s ease;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .navbar-link:hover::before {
    width: 200%;
    transition: width 0.5s ease;
    border-radius: 1.25rem;
  }
  
  .navbar-link:hover {
    z-index: 1;
    transform: scale(1.05);
    color: yellow;
  }
  
  .menu-icon {
    display: flex;
    overflow: visible;
    z-index: 1;
  }
}


@media screen and (max-width: 600px) {
  .navbar-container {
    padding: 0 0.9375rem;
  }
  
  .navbar-logo {
    font-size: 1.2rem;
  }
  
  .navbar-link {
    padding: 0.5rem 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-logo {
    margin-bottom: 0.625rem;
  }
  
  .navbar-item {
    width: 100%;
    text-align: left;
  }
}
