body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px ;
  overflow-x: hidden;
  width: 100vw;
  background-color: #f2f2f2;
}

.navbar {
  background-color: #0c0c0c;
  box-shadow: 1px 0px 3px black;
  color: #fff;
  padding: 14px 10px 14px 15px;
  z-index: 999;
  position: fixed; 
  width: 100vw;
  top: 0; 
}


.logojateng {
  width: auto;
  height: 60px;
  padding-top: 10px;
  z-index: 4;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 18px;
}

.navbar-logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  z-index: 1;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  z-index: 3;
}

.navbar-item {
  margin-right: 20px;
  margin-top: 2px;
  position: relative;
}

.navbar-link {
  color: #fffffffe;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin-right: 10px;
  padding: 10px 15px 10px 15px;
  margin-right: -8px;
}

.navbar-link:hover {
  background-color: #ef4b3c;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
}

.content {
  max-width: 800px;
  margin: 100px auto 50px; 
  text-align: center;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.menu-icon-line {
  width: 25px;
  height: 3px;
  background-color: #f2f2f2d8;
  margin: 4px 25px;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.line {
  color: #f2f2f2;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 815px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    background-color: #1c1c1c;
    z-index: 999;
    animation: slideFromTop ease 0.5s forwards;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-item {
    margin: 0;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .navbar-link {
    padding: 10px 15px 10px 15px;
    display: block;
    margin-right: 80px;
  }

  .navbar-link:hover {
    background-color: #ef4b3c;
    padding: 10px 25vw;
    border-radius: 20px;
  }

  .menu-icon {
    display: flex;
    overflow: visible;
    z-index: 1;
  }
}
