body {
  font-family: "poppins", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  background-color: #f2f2f2;
}

.navbar {
  font-family: "poppins", serif;
  background-color: #000000;
  box-shadow: 1px 0px 3px black;
  color: #fff;
  padding: 8px 6px 8px 11px;
  z-index: 999;
  position: fixed;
  width: 100vw;
  top: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover {
  background-color: #1a1a1a;
  box-shadow: 1px 0px 5px black;
}

.logojateng {
  width: auto;
  height: 50px;
  padding-top: 10px;
  margin-left: -20px;
  z-index: 4;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 18px;
}

.navbar-logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  z-index: 1;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  z-index: 3;
}

.navbar-item {
  margin-right: 20px;
  margin-top: 2px;
  position: relative;
}

.navbar-link {
  color: #fffffffe;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin-right: 10px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, border-radius 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.navbar-link:hover {
  background-color: #ef4b3c;
  border-radius: 20px;
  transform: scale(1.05);
  color: yellow;
}

.content {
  max-width: 800px;
  margin: 100px auto 50px;
  text-align: center;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.menu-icon-line {
  width: 25px;
  height: 3px;
  background-color: #f2f2f2d8;
  margin: 4px 0;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.menu-icon:hover .menu-icon-line {
  background-color: #c49b06;
  transform: scale(1.1);
}

.line {
  color: #f2f2f2;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 815px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #1c1c1c;
    z-index: 999;
    animation: slideFromTop ease 0.5s forwards;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-item {
    margin: 0;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .navbar-link {
    padding: 10px 15px;
    display: block;
    margin-right: 80px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, width 0.3s ease, border-radius 0.3s ease, transform 0.3s ease, color 0.3s ease;
  }
  
  .navbar-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: #ef4b3c;
    transition: width 0.3s ease;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .navbar-link:hover::before {
    width: 200%;
    transition: width 0.5s ease;
    border-radius: 20px;
  }
  
  .navbar-link:hover {
    z-index: 1;
    transform: scale(1.05);
    color: yellow;
  }
  
  .menu-icon {
    display: flex;
    overflow: visible;
    z-index: 1;
  }
}
