/* App.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./Assets/Background/7.png');
  background-size: cover; 
  background-repeat: repeat; 
  background-attachment: fixed; 
  background-position: center; 
}

@media (max-width: 768px) {
  .app {
      background-size: contain;  
      background-attachment: scroll;  
  }
}
.main-content {
  flex-grow: 1;
  padding-top: 85px;
}

.footer {
  margin-top: auto; 
}
