/* App.css */
body, #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .main-content {
    flex-grow: 1;
    padding-top: 85px;
  }
  
  